<div class="team-form">
  <%= form_for(@team) do |f| %>

    <%= f.hidden_field :event_id %>

    <div class="field org">
      <div class="label">Organization</div>
      <div class="input"><%= link_to @team.organization.name, @team.organization %></div>
    </div>

    <div class="field fundraiser">
      <div class="label">Fundraiser</div>
      <div class="input"><%= link_to @team.fundraiser.title, @team.fundraiser %></div>
    </div>

    <div class="field event">
      <div class="label">Event</div>
      <div class="input"><%= link_to @team.event.title, @team.event %></div>
    </div>

    <%= render(partial: "shared/form_field",
               locals: {
                 form: f,
                 model: @team,
                 attr: :name,
                 field_label: 'Team Name'
               }) %>

    <%= render(partial: "shared/form_field",
               locals: {
                 form: f,
                 model: @team,
                 attr: :pledge_target
               }) %>

    <div class="actions">
      <%= f.submit((action + " Team"), class: [:btn, :submit]) %>
      <%= f.button("Cancel", {
                     onClick: 'window.location.assign("' + cancel_path + '")', 
                     type: :button, 
                     class: [:btn, :cancel]
                   }) %>
    </div>

  <% end %>
</div>
