<div class="team-form">
  <%= form_for(@team) do |f| %>

    <%= f.hidden_field :event_id %>

    <%= render(partial: "shared/form_field", 
               locals: { 
                 form: f, 
                 model: @team, 
                 attr: :name
               }) %>

    <%= render(partial: "shared/form_field", 
               locals: { 
                 form: f, 
                 model: @team, 
                 attr: :pledge_target
               }) %>

    <div class="actions">
      <%= f.submit "Register Team", class: :submit %>
    </div>

  <% end %>
</div>
