<div class="team-form">
  <%= form_for(@team) do |f| %>

    <%= f.hidden_field :event_id %>

    <div class="field event">
      <div class="label">Event</div>
      <div class="input"><%= link_to @team.event.title, @team.event %></div>
    </div>

    <%= render(partial: "shared/form_field",
               locals: {
                 form: f,
                 model: @team,
                 attr: :name,
                 field_label: 'Team Name'
               }) %>

    <%= render(partial: "shared/form_field",
               locals: {
                 form: f,
                 model: @team,
                 attr: :pledge_target
               }) %>

    <div class="actions">
      <%= f.button(action + " Team", {
                     onClick: '$(".team-form form").submit()',
                     type: :submit,
                     class: [:btn, :submit]
                   }) %>
      <%= f.button("Cancel", {
                     onClick: 'window.location.assign("' + cancel_path + '")', 
                     type: :button, 
                     class: [:btn, :cancel]
                   }) %>
    </div>

  <% end %>
</div>
