<div class="team-form">
  <%= form_for(@team) do |f| %>

    <div class="field name">
      <div class="label">
        <%= f.label :name %>
      </div>
      <%= f.text_field :name, autofocus: true %>
      <% if !@fundraiser.errors[:name].empty? %>
        <div class="error">
          <div class="icon"></div>
          <div class="reason"><%= @fundraiser.errors[:name][0].humanize %></div>
        </div>
      <% end %>
    </div>

    <div class="field pledge-target">
      <div class="label">
        <%= f.label :pledge_target %>
      </div>
      <%= f.text_field :pledge_target, autofocus: true %>
      <% if !@fundraiser.errors[:pledge_target].empty? %>
        <div class="error">
          <div class="icon"></div>
          <div class="reason"><%= @fundraiser.errors[:pledge_target][0].humanize %></div>
        </div>
      <% end %>
    </div>

    <div class="actions">
      <%= f.submit class: :submit %>
    </div>

  <% end %>
</div>
