<div id="team-show" class="std-show">

  <div class="header">
    <div class="icon">
      <% if !@team.organization.logo_url.blank? %>
        <%= link_to show_org_path(@team.organization.url_key) do %>
          <%= image_tag @team.organization.logo_url %>
        <% end %>
      <% end %>
    </div>
    <div class="text">
      <div class="title">
        <%= @team.name %> in <%= link_to @team.event.title, @team.event %>
      </div>
      <div class="subtitle">
        for <%= link_to @team.fundraiser.title, @team.fundraiser %>
        by <%= link_to @team.organization.name, show_org_path(@team.organization.url_key) %>
      </div>
    </div>
  </div>

  <div class="controls">
    <% if @team.organization.members.include?(current_user) %>
      <div class="members">
        <%= link_to edit_team_path(@team) do %>
          <div class="action btn edit-team">Update Team</div>
        <% end %>
      </div>
    <% end %>

    <div class="public">
      <% if @team.fundraiser.is_active? %>
        <%= link_to new_team_pledge_path(@team) do %>
          <div class="action btn new-pledge">Make a Pledge</div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="details">
    <div class="attribute pledge-target">
      <div class="label">Pledge Target:</div>
      <%= ('%.2f' % @team.pledge_target) %>
    </div>

    <% if @team.event.has_started? %>
      <div class="attribute pledge-total">
        <div class="label">
          <% if @team.event.has_ended? %>
            Pledge Total:
          <% else %>
            Current Pledges:
          <% end %>
        </div>
        <%= ('%.2f' % @team.pledge_total) %>
      </div>
    <% end %>
  </div>

  <div class="association pledges">
    <div class="title">Pledges</div>
    <% if !@team.pledges.empty? %>
      <div class="table">
        <div class="row header">
          <div class="attr time">Time</div>
          <div class="attr donor">Donor</div>
          <div class="attr amount">
            <span class="full">Amount</span>
            <span class="abbreviated">Amt</span>
          </div>
        </div>
        <% @team.pledges.each do |p| %>
          <div class="row entry">
            <div class="attr time"><%= p.created_at.iso8601() %></div>
            <div class="attr donor"><%= donor_name(p) %></div>
            <div class="attr amount"><%= ('%.2f' % p.amount) %></div>
          </div>
        <% end %>
      </div>
      <script>
        $(function() {
          convertTimeValuesToLocal('#team-show .pledges .row.entry .attr.time');
        });
      </script>
    <% else %>
      <div class="notice">No pledges received yet.</div>
    <% end %>
  </div>
</div>
