<div id="team-show">

  <div class="header">
    <div class="icon">
      <%= link_to show_org_path(@team.organization.url_key) do %>
        <%= image_tag 'org/defaultIcon.png' %>
      <% end %>
    </div>
    <div class="text">
      <div class="title">
        <%= @team.name %> in <%= link_to @team.event.title, @team.event %>
      </div>
      <div class="subtitle">
        for <%= link_to @team.fundraiser.title, @team.fundraiser %>
        by <%= link_to @team.organization.name, show_org_path(@team.organization.url_key) %>
      </div>
    </div>
  </div>

  <div class="controls">
    <% if @team.organization.members.include?(current_user) %>
      <div class="members">
        <%= link_to edit_team_path(@team) do %>
          <div class="action btn edit-team">Update Team</div>
        <% end %>
      </div>
    <% end %>

    <div class="public">
      <!-- TODO: Disable this when the event is not active. -->
      <%= link_to new_team_pledge_path(@team) do %>
        <div class="action btn new-pledge">Make a Pledge</div>
      <% end %>
    </div>
  </div>

  <div class="details">
    <div class="attribute pledge-target">
      <div class="label">Pledge Target:</div>
      <%= @team.pledge_target %>
    </div>

    <% if @team.event.has_started? %>
      <div class="attribute pledge-total">
        <div class="label">
          <% if @team.event.has_ended? %>
            Pledge Total:
          <% else %>
            Current Pledges:
          <% end %>
        </div>
        <%= @team.pledge_total %>
      </div>
    <% end %>
  </div>

  <!-- TODO: Add a pledge log -->
</div>
