<div id="account-update" class="std-form">
  <div class="centerer">
    <div class="instructions">
      <div class="title">Account Details</div>
      <div class="description">Use the fields below to update your account details.</div>
    </div>

    <%= form_for(resource, as: resource_name, url: registration_url(resource_name, protocol: secure_protocol)) do |f| %>

      <%= render(partial: "shared/form_field",
                 locals: {
                   form: f,
                   model: resource,
                   attr: :first_name
                 }) %>
      <%= render(partial: "shared/form_field",
                 locals: {
                   form: f,
                   model: resource,
                   attr: :last_name
                 }) %>
      <%= render(partial: "shared/form_field",
                 locals: {
                   form: f,
                   model: resource,
                   attr: :phone_number
                 }) %>
      <% content_for 'email_field' do %>
        <%= f.email_field :email %>
      <% end %>
      <%= render(partial: "shared/form_field",
                 locals: {
                   form: f,
                   model: resource,
                   attr: :email
                 }) %>
      <% content_for 'current_password_field' do %>
        <%= f.password_field :current_password %>
      <% end %>
      <%= render(partial: "shared/form_field",
                 locals: {
                   form: f,
                   model: resource,
                   attr: :current_password
                 }) %>
      <% content_for 'password_label' do %>
        <!-- Do not mark this as required -->
        <%= f.label('New Password') %>
      <% end %>
      <% content_for 'password_field' do %>
        <%= f.password_field :password %>
      <% end %>
      <%= render(partial: "shared/form_field",
                 locals: {
                   form: f,
                   model: resource,
                   attr: :password,
                   info: 'Leave blank to not remain unchanged.'
                 }) %>
      <% content_for 'password_confirmation_field' do %>
        <%= f.password_field :password_confirmation %>
      <% end %>
      <%= render(partial: "shared/form_field",
                 locals: {
                   form: f,
                   model: resource,
                   attr: :password_confirmation,
                   field_label: 'New password confirmation'
                 }) %>

      <div class="actions">
        <%= f.button('Update', {
                       onClick: '$("#account-update form").submit()',
                       type: :button,
                       class: [:btn, :submit]
                     }) %>
      </div>

    <% end %>

  </div>
</div>
