<div id="account-update" class="std-form">
  <div class="centerer">
    <div class="instructions">
      <div class="title">Update Account Details</div>
      <div class="description">Use the fields below to update your account details.</div>
    </div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

      <%= render(partial: "shared/form_field", 
                 locals: { 
                   form: f, 
                   model: resource, 
                   attr: :first_name
                 }) %>
      <%= render(partial: "shared/form_field", 
                 locals: { 
                   form: f, 
                   model: resource, 
                   attr: :last_name
                 }) %>
      <%= render(partial: "shared/form_field", 
                 locals: { 
                   form: f, 
                   model: resource, 
                   attr: :phone_number
                 }) %>
      <%= render(partial: "shared/form_field", 
                 locals: { 
                   form: f, 
                   model: resource, 
                   attr: :email
                 }) %>
  
      <div><%= f.submit "Update", class: :submit %></div>

    <% end %>

  </div>
</div>
