<div id="change-password" class="std-form">
  <div class="centerer">
    <div class="instructions">
      <div class="title">Change Password</div>
      <div class="description">Feel free to update your password using the form below.</div>
    </div>

    <%= form_for(resource, as: resource_name, url: users_secure_path) do |f| %>

      <% content_for 'current_password_field' do %>
        <%= f.password_field :current_password %>
      <% end %>
      <%= render(partial: "shared/form_field", 
                 locals: { 
                   form: f, 
                   model: resource, 
                   attr: :current_password
                 }) %>
      <% content_for 'new_password_field' do %>
        <%= f.password_field :new_password %>
      <% end %>
      <%= render(partial: "shared/form_field", 
                 locals: { 
                   form: f, 
                   model: resource, 
                   attr: :new_password,
                   info: "#{@minimum_password_length} characters minimum"
                 }) %>
      <% content_for 'new_password_confirmation_field' do %>
        <%= f.password_field :new_password_confirmation %>
      <% end %>
      <%= render(partial: "shared/form_field", 
                 locals: { 
                   form: f, 
                   model: resource, 
                   attr: :new_password_confirmation
                 }) %>
  
      <div><%= f.submit "Update", class: :submit %></div>

    <% end %>

  </div>
</div>
