<div id="signup" class="std-form">
  <div class="centerer">
    <div class="instructions">
      <div class="title">Account Setup - Welcome!</div>
      <div class="description">Already have an account? Skip straight to <%= link_to "Log In", new_session_path(:user) %>.</div>
    </div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

      <%= render(partial: "shared/form_field",
                 locals: {
                   form: f,
                   model: resource,
                   attr: :first_name
                 }) %>
      <%= render(partial: "shared/form_field",
                 locals: {
                   form: f,
                   model: resource,
                   attr: :last_name
                 }) %>
      <%= render(partial: "shared/form_field",
                 locals: {
                   form: f,
                   model: resource,
                   attr: :phone_number
                 }) %>
      <% content_for 'email_field' do %>
        <%= f.email_field :email %>
      <% end %>
      <%= render(partial: "shared/form_field",
                 locals: {
                   form: f,
                   model: resource,
                   attr: :email
                 }) %>
      <% content_for 'password_field' do %>
        <%= f.password_field :password %>
      <% end %>
      <%= render(partial: "shared/form_field",
                 locals: {
                   form: f,
                   model: resource,
                   attr: :password,
                   info: "#{@minimum_password_length} characters minimum"
                 }) %>
      <% content_for 'password_confirmation_field' do %>
        <%= f.password_field :password_confirmation %>
      <% end %>
      <%= render(partial: "shared/form_field",
                 locals: {
                   form: f,
                   model: resource,
                   attr: :password_confirmation
                 }) %>

      <div class="actions">
        <%= f.button('Sign Up', {
                       onClick: '$("#signup form").submit()',
                       type: :button,
                       class: [:btn, :submit]
                     }) %>
      </div>

    <% end %>

  </div>
</div>
