<div class="fundraiser-form">
  <%= form_for(@fundraiser) do |f| %>

    <%= f.hidden_field(:organization_id, value: @fundraiser.organization_id) %>
    <div class="field org">
      <div class="label">Organization</div>
      <div class="input"><%= link_to @fundraiser.organization.name, show_org_path(@fundraiser.organization.url_key) %></div>
    </div>

    <%= render(partial: "shared/form_field", 
               locals: { 
                 form: f, 
                 model: @fundraiser, 
                 attr: :title,
                 field_label: 'Fundraiser Title'
               }) %>
    <% content_for 'description_field' do %>
      <%= f.text_area :description %>
    <% end %>
    <%= render(partial: "shared/form_field", 
               locals: { 
                 form: f, 
                 model: @fundraiser, 
                 attr: :description
               }) %>

    <% content_for 'pledge_start_time_field' do %>
      <%= f.hidden_field(:pledge_start_time, value: @fundraiser.pledge_start_time) %>
      <% if !@fundraiser.errors[:pledge_start_time].empty? %>
        <div class="field_with_errors">
      <% end %>
      <%= text_field_tag :date_pledge_start, nil, class: 'datetime date' %>
      <div class="datetime-separator">at</div>
      <%= text_field_tag :time_pledge_start, nil, class: 'datetime time' %>
      <% if !@fundraiser.errors[:pledge_start_time].empty? %>
        </div>
      <% end %>
    <% end %>
    <%= render(partial: "shared/form_field", 
               locals: { 
                 form: f, 
                 model: @fundraiser, 
                 field_label: 'Pledge starts on',
                 attr: :pledge_start_time
               }) %>
    <% content_for 'pledge_end_time_field' do %>
      <%= f.hidden_field(:pledge_end_time, value: @fundraiser.pledge_end_time) %>
       <% if !@fundraiser.errors[:pledge_end_time].empty? %>
         <div class="field_with_errors">
       <% end %>
       <%= text_field_tag :date_pledge_end, nil, class: 'datetime date' %>
       <div class="datetime-separator">at</div>
       <%= text_field_tag :time_pledge_end, nil, class: 'datetime time' %>
       <% if !@fundraiser.errors[:pledge_end_time].empty? %>
         </div>
       <% end %>
    <% end %>
    <%= render(partial: "shared/form_field", 
               locals: { 
                 form: f, 
                 model: @fundraiser,
                 field_label: 'Pledge ends on',
                 attr: :pledge_end_time
               }) %>

    <div class="actions">
      <%= f.button(action + " Fundraiser", {
                     onClick: '$(".fundraiser-form form").submit()',
                     type: :button,
                     class: [:btn, :submit]
                   }) %>
      <%= f.button("Cancel", {
                     onClick: 'window.location.assign("' + cancel_path + '")', 
                     type: :button, 
                     class: [:btn, :cancel]
                   }) %>
    </div>

    <script>
      $(function() {
        var orgField = $( "#fundraiser_organization_id" );
        if (orgField && orgField.attr('type') != 'hidden') {
          orgField.combobox({
            editable: false
          });
        }

        initDateTimeField('fundraiser', 'pledge_start');
        initDateTimeField('fundraiser', 'pledge_end');

        // Ensure the pledge end date/time is always after the pledge start date/time.
        maintainChronologicalOrder('fundraiser', 'pledge_start', 'pledge_end');
      });
    </script>

  <% end %>
</div>
