<div class="fundraiser-form">
  <%= form_for(@fundraiser) do |f| %>

    <% if (@organizations.size == 1) %>
      <%= f.hidden_field(:organization_id, value: @organizations[0].id) %>
    <% else %>
      <% content_for 'organization_field' do %>
        <%= collection_select(:fundraiser, :organization_id, @organizations, :id, :name) %>
      <% end %>
      <%= render(partial: "shared/form_field", 
                 locals: { 
                   form: f, 
                   model: @fundraiser, 
                   attr: :organization
                 }) %>
    <% end %>

    <%= render(partial: "shared/form_field", 
               locals: { 
                 form: f, 
                 model: @fundraiser, 
                 attr: :title
               }) %>
    <% content_for 'description_field' do %>
      <%= f.text_area :description %>
    <% end %>
    <%= render(partial: "shared/form_field", 
               locals: { 
                 form: f, 
                 model: @fundraiser, 
                 attr: :description
               }) %>

    <% content_for 'pledge_start_time_field' do %>
      <%= f.hidden_field(:pledge_start_time) %>
      <% if !@fundraiser.errors[:pledge_start_time].empty? %>
        <div class="field_with_errors">
      <% end %>
      <%= text_field_tag :date_pledge_start %>
      at
      <%= select_tag :time_pledge_start, options_for_select(thirty_minute_internvals) %>
      <% if !@fundraiser.errors[:pledge_start_time].empty? %>
        </div>
      <% end %>
    <% end %>
    <%= render(partial: "shared/form_field", 
               locals: { 
                 form: f, 
                 model: @fundraiser, 
                 field_label: 'Pledge starts on',
                 attr: :pledge_start_time
               }) %>
    <% content_for 'pledge_end_time_field' do %>
      <%= f.hidden_field(:pledge_end_time) %>
       <% if !@fundraiser.errors[:pledge_end_time].empty? %>
         <div class="field_with_errors">
       <% end %>
       <%= text_field_tag :date_pledge_end %>
       at
       <%= select_tag :time_pledge_end, options_for_select(thirty_minute_internvals) %>
       <% if !@fundraiser.errors[:pledge_end_time].empty? %>
         </div>
       <% end %>
    <% end %>
    <%= render(partial: "shared/form_field", 
               locals: { 
                 form: f, 
                 model: @fundraiser,
                 field_label: 'Pledge ends on',
                 attr: :pledge_end_time
               }) %>

    <div class="actions">
      <%= f.submit "Schedule Fundraiser", class: :submit %>
    </div>

    <script>
      $(function() {
        var curDate = new Date();
        var defaultDate = (curDate.getMonth() + 1) + "/" + curDate.getDate() + "/" + curDate.getFullYear();
        var defaultTime = '12:00 pm';

      
        var orgField = $( "#fundraiser_organization_id" );
        if (orgField && orgField.attr('type') != 'hidden') {
          orgField.combobox({
            editable: false
          });
        }

        $.datepicker.setDefaults({
          showAnim: "slideDown"
        });
        $( "#date_pledge_start" ).datepicker();
        $( "#date_pledge_end" ).datepicker();

        $( "#time_pledge_start" ).combobox({
          clearIfNotIncluded: false,
          customValidation: function() { }
        });
        $( "#time_pledge_end" ).combobox({
          clearIfNotIncluded: false,
          customValidation: function() { }
        });


        // Set the initial composite datetime values based on the raw value.
        var initPledgeDateTime = function(type) {
          var rawField = $('#fundraiser_pledge_' + type + '_time');
          var dateField = $('#date_pledge_' + type);
          var timeField = $('form .pledge-' + type + '-time input.custom-combobox-input');

          var rawDate = new Date(rawField.val());
          if (!rawDate || isNaN( rawDate.getTime() )) {
            dateField.val(defaultDate);
            timeField.val(defaultTime);
          } else {
            var dateString = (rawDate.getMonth() + 1) + "/" + rawDate.getDate() + "/" + rawDate.getFullYear();
            dateField.val(dateString);

            var hours = rawDate.getHours();
            var minutes = rawDate.getMinutes();
            var period = 'am';

            if (hours > 12) {
              hours = hours % 12;
              period = 'pm';
            }

            var timeString = hours + ':' + minutes + ' ' + period;
            timeField.val(timeString);
          }
        };
        initPledgeDateTime('start');
        initPledgeDateTime('end');


        // Update the raw datetime value every time the composite values change.
        var updatePledgeTime = function(type) {
          return function(event) {
            var dateField = $('#date_pledge_' + type);
            var timeField = $('form .pledge-' + type + '-time input.custom-combobox-input');
            var rawField = $('#fundraiser_pledge_' + type + '_time');
            
            var dateValue = dateField.val();
            var dateCheck = /^\d{1,2}\/\d{1,2}\/\d{2,4}$/
            if (!dateCheck.test(dateValue)) {
              daveValue = null;
              dateField.val(defaultDate);
            }
          
            var timeValue = timeField.val();
            var timeCheck = /^[0-1]?[0-9]:[0-5][0-9] (am|pm)$/;
            if (!timeCheck.test(timeValue)) {
              timeValue = null;
              timeField.val(defaultTime);
            }
          
            if (dateValue && timeValue) {
              rawField.val(dateField.val() + " " + timeField.val());
            }
          };
        };
        $( "#date_pledge_start" ).change(updatePledgeTime('start'));
        $( "form .pledge-start-time input.custom-combobox-input" ).focusout(updatePledgeTime('start'));

        $( "#date_pledge_end" ).change(updatePledgeTime('end'));
        $( "form .pledge-end-time input.custom-combobox-input" ).focusout(updatePledgeTime('end'));

        // Ensure the underlying raw datetime values are up to date with the displayed composite values.
        updatePledgeTime('start')();
        updatePledgeTime('end')();
      });
    </script>

  <% end %>
</div>
