<div id="fundraiser-show">

  <div class="header">
    <div class="icon">
      <%= link_to @org do %>
        <%= image_tag 'org/defaultIcon.png' %>
      <% end %>
    </div>
    <div class="text">
      <div class="title">
        <%= @fundraiser.title %>
      </div>
      <div class="subtitle">
        by <%= link_to @fundraiser.organization.name, @fundraiser.organization %>
      </div>
    </div>
  </div>

  <!-- TODO: Restrict these to members only. -->
  <div class="member-controls">
    <%= link_to new_fundraiser_event_path(@fundraiser) do %>
      <div class="action btn new-event">Schedule an Event</div>
    <% end %>
    <!-- TODO: Add 'Add Team' action. -->
    <%= link_to edit_fundraiser_path(@fundraiser) do %>
      <div class="action btn edit-org">Update Fundraiser</div>
    <% end %>
  </div>

  <div class="details">
    <div class="attribute description">
      <div class="label">Description:</div>
      <%= @fundraiser.description %>
    </div>
    <div class="attribute pledge-window">
      <div class="label">Pledge Window: </div>
      <!-- Note: The from and to times will be shown after they are formatted properly. -->
      <div class="timeframe" style="display:none;">
        <div class="start time"><%= @fundraiser.pledge_start_time.iso8601() %></div>
        <div class="single-line">-</div>
        <div class="multi-line">to</div>
        <div class="end time"><%= @fundraiser.pledge_end_time.iso8601() %></div>
      </div>
    </div>
  </div>

  <% if !@fundraiser.events.present.empty? %>
    <div class="events">
      <div class="title">Active Events</div>
      <div class="list">
        <% @fundraiser.events.present.each do |e| %>
          <%= render partial: 'events/list_item', locals: { event: e } %>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if !@fundraiser.events.future.empty? %>
    <div class="events">
      <div class="title">Upcoming Events</div>
      <div class="list">
        <% @fundraiser.events.future.each do |e| %>
          <%= render partial: 'events/list_item', locals: { event: e } %>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if !@fundraiser.events.past.empty? %>
    <div class="events">
      <div class="title">Past Events</div>
      <div class="list">
        <% @fundraiser.events.past.each do |e| %>
          <%= render partial: 'events/list_item', locals: { event: e } %>
        <% end %>
      </div>
    </div>
  <% end %>

</div>


<script>
  $(function() {
    convertToLocalTime('#fundraiser-show .pledge-window .start.time');
    convertToLocalTime('#fundraiser-show .pledge-window .end.time');
    $('#fundraiser-show .pledge-window .timeframe').show();
  });
</script>
