<div class="pledge-form">
  <%= form_for(@pledge) do |f| %>

    <%= f.hidden_field :team_id %>

    <div class="field event">
      <div class="label">Event</div>
      <div class="input"><%= link_to @pledge.event.title, @pledge.event %></div>
    </div>

    <div class="field team">
      <div class="label">Team</div>
      <div class="input"><%= link_to @pledge.team.name, @pledge.team %></div>
    </div>

    <% content_for 'amount_field' do %>
      <%= f.number_field :amount %>
    <% end %>
    <%= render(partial: "shared/form_field",
               locals: {
                 form: f,
                 model: @pledge,
                 attr: :amount
               }) %>

    <div class="actions">
      <%= f.submit "Make Pledge", class: :submit %>
    </div>
  <% end %>
</div>
