<div class="pledge-form">
  <%= form_for(@pledge) do |f| %>

    <div class="field team">
      <div class="label">
        <%= f.label :team %>
      </div>
      <!-- TODO: Update this to be a dropdown. -->
      <%= f.text_field :team, autofocus: true %>
      <% if !@fundraiser.errors[:team].empty? %>
        <div class="error">
          <div class="icon"></div>
          <div class="reason"><%= @fundraiser.errors[:team][0].humanize %></div>
        </div>
      <% end %>
    </div>

    <div class="field amount">
      <div class="label">
        <%= f.label :amount %>
      </div>
      <%= f.number_field :amount, autofocus: true %>
      <% if !@fundraiser.errors[:amount].empty? %>
        <div class="error">
          <div class="icon"></div>
          <div class="reason"><%= @fundraiser.errors[:amount][0].humanize %></div>
        </div>
      <% end %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
