<div class="pledge-form">
  <%= form_for(@pledge) do |f| %>

    <%= f.hidden_field :team_id %>

    <% if @pledge.team.nil? %>
      <div class="field event">
        <div class="label">Event</div>
        <div class="input"><%= link_to @event.title, @event %></div>
      </div>

      <% content_for 'team_id_field' do %>
        <%= f.collection_select :team_id, @event.teams, :id, :name %>
      <% end %>
      <%= render(partial: "shared/form_field",
                 locals: {
                   form: f,
                   model: @pledge,
                   attr: :team_id
                 }) %>
    <% else %>
      <div class="field event">
        <div class="label">Event</div>
        <div class="input"><%= link_to @pledge.event.title, @pledge.event %></div>
      </div>

      <div class="field team">
        <div class="label">Team</div>
        <div class="input"><%= link_to @pledge.team.name, @pledge.team %></div>
      </div>
    <% end %>

    <% content_for 'amount_field' do %>
      <%= f.number_field :amount, placeholder: '$', step: 0.01, min: 0 %>
    <% end %>
    <%= render(partial: "shared/form_field",
               locals: {
                 form: f,
                 model: @pledge,
                 attr: :amount
               }) %>

    <% content_for 'monthly_field' do %>
      <%= f.check_box :monthly %>
    <% end %>
    <%= render(partial: "shared/form_field",
               locals: {
                 form: f,
                 model: @pledge,
                 attr: :monthly
               }) %>

    <div class="actions">
      <%= f.button("Make Pledge", {
                     onClick: '$(".pledge-form form").submit()',
                     type: :submit,
                     class: [:btn, :submit]
                   }) %>
      <%= f.button("Cancel", {
                     onClick: 'window.location.assign("' + cancel_path + '")', 
                     type: :button, 
                     class: [:btn, :cancel]
                   }) %>
    </div>
  <% end %>
</div>
