<div class="pledge-form">
  <%= form_for(@pledge) do |f| %>

    <%= f.hidden_field :team_id %>

    <div class="field event">
      <div class="label">Event</div>
      <div class="input"><%= link_to @pledge.event.title, @pledge.event %></div>
    </div>

    <div class="field team">
      <div class="label">Team</div>
      <div class="input"><%= link_to @pledge.team.name, @pledge.team %></div>
    </div>

    <% content_for 'amount_field' do %>
      <%= f.number_field :amount, placeholder: '$', step: 0.01, min: 0 %>
    <% end %>
    <%= render(partial: "shared/form_field",
               locals: {
                 form: f,
                 model: @pledge,
                 attr: :amount
               }) %>

    <% content_for 'monthly_field' do %>
      <%= f.check_box :monthly %>
    <% end %>
    <%= render(partial: "shared/form_field",
               locals: {
                 form: f,
                 model: @pledge,
                 attr: :monthly
               }) %>

    <% content_for 'anonymous_field' do %>
      <%= f.check_box :anonymous %>
    <% end %>
    <%= render(partial: "shared/form_field",
               locals: {
                 form: f,
                 model: @pledge,
                 attr: :anonymous
               }) %>

    <% content_for 'comment_field' do %>
      <%= f.text_area :comment %>
    <% end %>
    <%= render(partial: "shared/form_field",
               locals: {
                 form: f,
                 model: @pledge,
                 attr: :comment
               }) %>

    <div class="actions">
      <%= f.button("Make Pledge", {
                     onClick: '$(".pledge-form form").submit()',
                     type: :submit,
                     class: [:btn, :submit]
                   }) %>
      <%= f.button("Cancel", {
                     onClick: 'window.location.assign("' + cancel_path + '")', 
                     type: :button, 
                     class: [:btn, :cancel]
                   }) %>
    </div>
  <% end %>
</div>
