<div class="field <%= attr.to_s.dasherize %>">

  <div class="label">
    <% if defined? field_label %>
      <%= form.label(field_label) %>
    <% else %>
      <%= form.label(attr) %>
    <% end %>
  </div>

  <% if content_for?(attr.to_s + '_field') %>
    <%= yield(attr.to_s + '_field') %>
  <% else %>
    <%= form.text_field attr %>
  <% end %>

  <% if !model.errors[attr].empty? %>
    <div class="error">
      <div class="icon"></div>
      <div class="reason"><%= model.errors[attr][0] %></div>
    </div>
  <% else %>
    <% if(defined? info) %>
      <div class="info">
        <div class="icon"></div>
        <%= info.html_safe %>
      </div>
    <% end %>
  <% end %>

</div>
