<div class="field <%= attr.to_s.dasherize %>">

  <div class="label">
    <% if content_for?(attr.to_s + '_label') %>
      <%= yield(attr.to_s + '_label') %>
    <% else %>
      <% classes = [] %>
      <% classes << :required if required?(model, attr) %>
      <% if defined? field_label %>
        <%= form.label(field_label, class: classes) %>
      <% else %>
        <%= form.label(attr, class: classes) %>
      <% end %>
    <% end %>
  </div>

  <div class="input">
    <% if content_for?(attr.to_s + '_field') %>
      <%= yield(attr.to_s + '_field') %>
    <% else %>
      <%= form.text_field attr %>
    <% end %>
  </div>

  <% if !model.errors[attr].empty? %>
    <div class="info error">
      <div class="icon"><%= image_tag "error.gif" %></div>
      <div class="description"><%= model.errors[attr][0].humanize %></div>
    </div>
  <% else %>
    <% if(defined? info) %>
      <div class="info notice">
        <div class="icon"><%= image_tag "info.png" %></div>
        <div class="description"><%= info.html_safe %></div>
      </div>
    <% end %>
  <% end %>

</div>
