<div class="event-form">
  <%= form_for @event do |f| %>

    <%= f.hidden_field :fundraiser_id %>

    <%= render(partial: "shared/form_field", 
               locals: { 
                 form: f, 
                 model: @event, 
                 attr: :title
               }) %>

    <% content_for 'description_field' do %>
      <%= f.text_area :description %>
    <% end %>
    <%= render(partial: "shared/form_field", 
               locals: { 
                 form: f, 
                 model: @event, 
                 attr: :description
               }) %>


    <!-- TODO: Enforce that the event start and end date are within the fundraiser's pledge timeframe. -->

    <% content_for 'start_time_field' do %>
      <%= f.hidden_field(:start_time) %>
      <% if !@event.errors[:start_time].empty? %>
        <div class="field_with_errors">
      <% end %>
      <%= text_field_tag :date_start, nil, class: 'datetime date' %>
      <div class="datetime-separator">at</div>
      <%= text_field_tag :time_start, nil, class: 'datetime time' %>
      <% if !@event.errors[:start_time].empty? %>
        </div>
      <% end %>
    <% end %>
    <%= render(partial: "shared/form_field", 
               locals: { 
                 form: f, 
                 model: @event, 
                 field_label: 'Starts on',
                 attr: :start_time
               }) %>

    <% content_for 'end_time_field' do %>
      <%= f.hidden_field(:end_time) %>
       <% if !@event.errors[:end_time].empty? %>
         <div class="field_with_errors">
       <% end %>
       <%= text_field_tag :date_end, nil, class: 'datetime date' %>
       <div class="datetime-separator">at</div>
       <%= text_field_tag :time_end, nil, class: 'datetime time' %>
       <% if !@event.errors[:end_time].empty? %>
         </div>
       <% end %>
    <% end %>
    <%= render(partial: "shared/form_field", 
               locals: { 
                 form: f, 
                 model: @event,
                 field_label: 'Ends on',
                 attr: :end_time
               }) %>

    <div class="actions">
      <%= f.submit((action + " Event"), class: :submit) %>
    </div>

    <script>
      $(function() {
        initDateTimeField('event', 'start');
        initDateTimeField('event', 'end');
      });
    </script>

  <% end %>
</div>
