<div class="event-form">
  <%= form_for(@event) do |f| %>

    <div class="field title">
      <div class="label">
        <%= f.label :title %>
      </div>
      <%= f.text_field :title, autofocus: true %>
      <% if !@fundraiser.errors[:title].empty? %>
        <div class="error">
          <div class="icon"></div>
          <div class="reason"><%= @fundraiser.errors[:title][0].humanize %></div>
        </div>
      <% end %>
    </div>

    <div class="field description">
      <div class="label">
        <%= f.label :description %>
      </div>
      <%= f.text_field :description, autofocus: true %>
      <% if !@fundraiser.errors[:description].empty? %>
        <div class="error">
          <div class="icon"></div>
          <div class="reason"><%= @fundraiser.errors[:description][0].humanize %></div>
        </div>
      <% end %>
    </div>

    <div class="field start-time">
      <div class="label">
        <%= f.label :start_time %>
      </div>
      <%= f.text_field :start_time, autofocus: true %>
      <% if !@fundraiser.errors[:start_time].empty? %>
        <div class="error">
          <div class="icon"></div>
          <div class="reason"><%= @fundraiser.errors[:start_time][0].humanize %></div>
        </div>
      <% end %>
    </div>

    <div class="field end-time">
      <div class="label">
        <%= f.label :end_time %>
      </div>
      <%= f.text_field :end_time, autofocus: true %>
      <% if !@fundraiser.errors[:end_time].empty? %>
        <div class="error">
          <div class="icon"></div>
          <div class="reason"><%= @fundraiser.errors[:end_time][0].humanize %></div>
        </div>
      <% end %>
    </div>

    <div class="actions">
      <%= f.submit class: :submit %>
    </div>

  <% end %>
</div>
