<div class="event-form">
  <%= form_for @event do |f| %>

    <%= f.hidden_field :fundraiser_id %>

    <div class="field org">
      <div class="label">Organization</div>
      <div class="input"><%= link_to @event.organization.name, show_org_path(@event.organization.url_key) %></div>
    </div>

    <div class="field fundraiser">
      <div class="label">Fundraiser</div>
      <div class="input"><%= link_to @event.fundraiser.title, @event.fundraiser %></div>
    </div>

    <%= render(partial: "shared/form_field", 
               locals: { 
                 form: f, 
                 model: @event, 
                 attr: :title,
                 field_label: 'Event Title'
               }) %>

    <% content_for 'description_field' do %>
      <%= f.text_area :description %>
    <% end %>
    <%= render(partial: "shared/form_field", 
               locals: { 
                 form: f, 
                 model: @event, 
                 attr: :description
               }) %>

    <% content_for 'team_descriptor_field' do %>
      <%= f.collection_select :team_descriptor_id, TeamDescriptor.all, :id, :plural %>
    <% end %>
    <%= render(partial: "shared/form_field",
               locals: {
                 form: f,
                 model: @event,
                 attr: :team_descriptor,
                 field_label: 'Type of Teams',
                 info: "If you don't see the descriptor you would like to use, please email #{mail_to "support@teamraising.org"}."
               }) %>

    <% content_for 'start_time_field' do %>
      <%= f.hidden_field(:start_time, value: @event.start_time) %>
      <% if !@event.errors[:start_time].empty? %>
        <div class="field_with_errors">
      <% end %>
      <%= text_field_tag :date_start, nil, class: 'datetime date' %>
      <div class="datetime-separator">at</div>
      <%= text_field_tag :time_start, nil, class: 'datetime time' %>
      <% if !@event.errors[:start_time].empty? %>
        </div>
      <% end %>
    <% end %>
    <%= render(partial: "shared/form_field", 
               locals: { 
                 form: f, 
                 model: @event, 
                 field_label: 'Starts on',
                 attr: :start_time
               }) %>

    <% content_for 'end_time_field' do %>
      <%= f.hidden_field(:end_time, value: @event.end_time) %>
       <% if !@event.errors[:end_time].empty? %>
         <div class="field_with_errors">
       <% end %>
       <%= text_field_tag :date_end, nil, class: 'datetime date' %>
       <div class="datetime-separator">at</div>
       <%= text_field_tag :time_end, nil, class: 'datetime time' %>
       <% if !@event.errors[:end_time].empty? %>
         </div>
       <% end %>
    <% end %>
    <%= render(partial: "shared/form_field", 
               locals: { 
                 form: f, 
                 model: @event,
                 field_label: 'Ends on',
                 attr: :end_time
               }) %>

    <div class="actions">
      <%= f.button(action + " Event", {
                     onClick: '$(".event-form form").submit()', 
                     type: :button, 
                     class: [:btn, :submit]
                   }) %>
      <%= f.button("Cancel", {
                     onClick: 'window.location.assign("' + cancel_path + '")',
                     type: :button,
                     class: [:btn, :cancel]
                   }) %>
    </div>

    <script>
      $(function() {
        initDateTimeField('event', 'start');
        initDateTimeField('event', 'end');

        // Ensure the end date/time is always after the start date/time.
        maintainChronologicalOrder('event', 'start', 'end');
      });
    </script>

  <% end %>
</div>
