<% # Dictates whether or not the organization details should be included. %>
<% show_full_context ||= false %>

<div class="item event">
  <div class="header">
    <% if show_full_context %>
      <div class="icon">
        <% if !event.organization.logo_url.blank? %>
          <%= link_to show_org_path(event.organization.url_key) do %>
            <%= image_tag event.organization.logo_url %>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <div class="title">
      <%= link_to event.title, event %>
      <% if show_full_context %>
        by <%= link_to event.organization.name, event.organization %>
      <% end %>
    </div>
    <div class="assoc-count">
      (<%= pluralize(event.teams.count, 'team') %>)
    </div>
  </div>
  <div class="description"><%= event.description %></div>

  <% if event.has_ended? %>
    <div class="attr date ended">
      <div class="label">Ended At:</div>
      <div class="value"><%= event.end_time %></div>
    </div>
  <% elsif event.has_started? %>
    <div class="attr date ending">
      <div class="label">Ending At:</div>
      <div class="value"><%= event.end_time %></div>
    </div>
  <% else %>
    <div class="attr date starting">
      <div class="label">Starts At:</div>
      <div class="value"><%= event.start_time %></div>
    </div>
  <% end %>

  <% if event.has_started? %>
    <div class="attr pledges">
      <div class="label">Progress:</div>
      <div class="value">
        <div class="percent">
          <% if (event.pledge_target > 0) %>
            <%= (event.pledge_total / event.pledge_target * 100).round() %>%
          <% else %>
            0%
          <% end %>
        </div>
        (<div class="total">$<%= event.pledge_total.round() %></div> / <div class="target">$<%= event.pledge_target.round() %></div>
        <div class="count">from <%= pluralize(event.pledges.count, 'pledge') %></div>)
      </div>
    </div>
  <% else %>
    <div class="attr pledge-target">
      <div class="label">Pledge Target:</div>
      <div class="value">$<%= event.pledge_target.round() %></div>
    </div>
  <% end %>

</div>

<script>
  $(function() { convertToLocalTime('.item.event .attr.date .value').show(); });
</script>
