<%= javascript_include_tag "//code.highcharts.com/highcharts.js", "chartkick" %>

<div id="event-dashboard">
  <div class="pad"></div>

  <div class="header">
    <div class="vert-centerer"></div>
    <div class="logo">
      <% if !@event.organization.logo_url.blank? %>
        <%= link_to show_org_path(@event.organization.url_key) do %>
          <%= image_tag @event.organization.logo_url %>
        <% end %>
      <% end %>
    </div>
    <div class="text">
      <div class="title">
        <%= @event.title %>
      </div>
      <div class="subtitle">
        for <%= link_to @event.fundraiser.title, @event.fundraiser %>
        by <%= link_to @event.organization.name, show_org_path(@event.organization.url_key) %>
      </div>
    </div>
    <% if !@event.has_started? %>
      <div class="clock start">
        <div class="vert-centerer"></div>
        <div class="text">Starts in <span id="start-countdown" class="countdown"></span></div>
      </div>
    <% elsif @event.is_active? %>
      <div class="clock end">
        <div class="vert-centerer"></div>
        <div class="text">Ends in <span id="end-countdown" class="countdown"></span></div>
      </div>
    <% else %>
      <div class="clock done">
        <div class="vert-centerer"></div>
        <div class="text">Finished!</div>
      </div>
    <% end %>
  </div>

  <div class="pad"></div>

  <div class="event-details">
    <div class="tabs">
      <div class="tab tab-0 panel selected" data-tab="pledge-breakdown" data-index="0">
        <div class="vert-centerer"></div>
        Totals per <%= @event.team_descriptor.singular %>
      </div>
      <div class="tab tab-1 panel" data-tab="pledge-log" data-index="1">
        <div class="vert-centerer"></div>
        Pledge Log
      </div>
      <div class="tab button" onClick="toggleAutoRotate($('#event-dashboard .event-details'));">
        <div class="pad"></div>
        <%= image_tag 'events/dashboard/auto-rotate.png' %>
      </div>
    </div>

    <div class="pledge-breakdown tab-container tab-0 selected">
      <div class="pad"></div>
      <div class="tab-body">
        <div class="title">
          <div class="vert-centerer"></div>
          Pledge Totals per <%= @event.team_descriptor.singular %>
        </div>
        <div id="chart-pledge-breakdown">Loading...</div>
      </div>
      <div class="pad"></div>
    </div>

    <div class="pledge-log tab-container tab-1">
      <div class="pad"></div>
      <div class="tab-body">
        <div class="title">Recent Pledges</div>
        <div class="headers">
          <div class="vert-centerer"></div>
          <div class="column donor">Donor</div>
          <div class="column team"><%= @event.team_descriptor.singular %></div>
          <div class="column amount">
            <span class="full">Amount</span>
            <span class="abbr">Amt</span>
          </div>
          <div class="column comment">Comment</div>
        </div>
        <div class="list">
          <!-- Pledge records get added here dynamically. -->
        </div>
        <div class="footer">
          <div class="vert-centerer"></div>
          <div class="monthly"><span class="symbol"></span> - Indicates monthly pledges</div>
        </div>
      </div>
      <div class="pad"></div>
    </div>
  </div>

  <div class="pad"></div>

  <div class="overall">
    <div class="title">
      <div class="vert-centerer"></div>
      Overall Progress
    </div>
    <div class="progress-bar">
      <div class="pct-complete">
        <div class="label-align">
          <div class="vert-centerer"></div>
          <div class="label"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="pad"></div>

  <div class="pledge-prompt">
    <div class="vert-centerer"></div>
    Submit your pledge at: <span class="url"><%= show_url(@event) %></span>
  </div>
</div>

<script id="pledge-item" type="x-tmpl-mustache">
  <div class="pledge" data-pledge-id="{{ pledgeID }}">
    <div class="attr donor">{{ publicDonorName }}</div>
    <div class="attr team">{{ team.name }}</div>
    <div class="attr amount {{ amount_class }}">
      <span class="full">${{ full_amount }}</span>
      <span class="abbr">${{ dollar_amount }}</span>
    </div>
    <div class="attr comment">{{ comment }}</div>
  </div>
</script>
<script>
  $(document).ready(function() {
    var template = $('#pledge-item').html();
    Mustache.parse(template);   // speeds up future uses

    setupCountdown('#start-countdown', '<%= @event.start_time.iso8601() %>');
    setupCountdown('#end-countdown', '<%= @event.end_time.iso8601() %>');

    setupAutoRefresh(<%= @event.id %>);
    var $eventDetails = $("#event-dashboard .event-details");
    setupTabs($eventDetails);
    $eventDetails.on('tabChange', function(e, newTab) {
      if (newTab == 'pledge-log') {
        resetAutoScroll($eventDetails.find('.pledge-log .tab-body .list'));
      }
    });
  });
</script>
