<div id="event-show">

  <div class="header">
    <div class="icon">
      <%= link_to show_org_path(@event.organization.url_key) do %>
        <%= image_tag 'org/defaultIcon.png' %>
      <% end %>
    </div>
    <div class="text">
      <div class="title">
        <%= @event.title %>
      </div>
      <div class="subtitle">
        for <%= link_to @event.fundraiser.title, @event.fundraiser %>
        by <%= link_to @event.organization.name, show_org_path(@event.organization.url_key) %>
      </div>
    </div>
  </div>

  <div class="controls">
    <% if @event.organization.members.include?(current_user) %>
      <div class="members">
        <!-- TODO: Disable this when the event is not active. -->
        <%= link_to new_event_team_path(@event) do %>
          <div class="action btn new-team">Add a Team</div>
        <% end %>
        <%= link_to edit_event_path(@event) do %>
          <div class="action btn edit-event">Update Event</div>
        <% end %>
        <%= link_to event_dashboard_path(@event) do %>
          <div class="action btn launch-dashboard">Launch Dashboard</div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="details">
    <div class="attribute description">
      <div class="label">Description:</div>
      <%= @event.description %>
    </div>
    <div class="attribute time">
      <div class="label">Time: </div>
      <!-- Note: The from and to times will be shown after they are formatted properly. -->
      <div class="timeframe" style="display:none;">
        <div class="start time"><%= @event.start_time.iso8601() %></div>
        <div class="single-line">-</div>
        <div class="multi-line">to</div>
        <div class="end time"><%= @event.end_time.iso8601() %></div>
      </div>
    </div>
  </div>

  <div class="teams">
    <div class="title">Teams</div>
    <% if !@event.teams.empty? %>
      <div class="list">
        <% @event.teams.each do |t| %>
          <%= render partial: 'teams/list_item', locals: { team: t } %>
        <% end %>
      </div>
    <% else %>
      <div class="notice">No teams registered yet!</div>
    <% end %>
   </div>

</div>

<script>
  $(function() {
    convertToLocalTime('#event-show .time .start.time');
    convertToLocalTime('#event-show .time .end.time');
    $('#event-show .time .timeframe').show();
  });
</script>
