<div id="event-show">

  <div class="header">
    <div class="icon">
      <% if !@event.logo_url.blank? %>
        <%= image_tag @event.logo_url, alt: 'Event Logo' %>
      <% end %>
    </div>
    <div class="text">
      <div class="title">
        <%= @event.title %>
      </div>
    </div>
  </div>

  <div class="controls">
    <% if @event.is_member?(current_user) %>
      <% if !@event.has_ended? %>
        <%= link_to new_event_team_path(@event) do %>
          <div class="action btn new-team">Add a <%= @event.team_descriptor.singular %></div>
        <% end %>
      <% end %>
      <%= link_to edit_event_path(@event) do %>
        <div class="action btn edit-event">Update Event</div>
      <% end %>
      <% if @event.is_active? %>
        <%= link_to event_dashboard_path(@event), data: { 'no-turbolink' => true } do %>
          <div class="action btn launch-dashboard">Launch Dashboard</div>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="association teams">
    <% if !@event.teams.empty? %>
      <div class="list">
        <% @event.teams.each do |t| %>
          <%= render partial: 'teams/list_item', locals: { team: t } %>
        <% end %>
      </div>
    <% else %>
      <div class="notice">No teams registered yet!</div>
    <% end %>
  </div>

</div>

<script>
  $(function() {
    convertToLocalTime('#event-show .time .start.time');
    convertToLocalTime('#event-show .time .end.time');
    $('#event-show .time .timeframe').show();
  });
</script>
