<div id="login" class="std-form">
  <div class="centerer">
    <div class="instructions">
      <div class="title">Log In</div>
      <div class="description">Haven't created an account yet? Get started at the <%= link_to "Account Setup", new_registration_path(:user) %> page. Forgot your password? Recover it with the <%= link_to "Password Reset", users_password_reset_new_path %> utility.</div>
    </div>

    <%= form_for(resource, as: resource_name, url: session_url(resource_name, protocol: secure_protocol)) do |f| %>

      <% content_for 'email_field' do %>
        <%= f.email_field :email %>
      <% end %>
      <%= render(partial: "shared/form_field", 
                 locals: { 
                   form: f, 
                   model: resource, 
                   attr: :email
                 }) %>

      <% content_for 'password_field' do %>
        <%= f.password_field :password %>
      <% end %>
      <%= render(partial: "shared/form_field", 
                 locals: { 
                   form: f, 
                   model: resource, 
                   attr: :password
                 }) %>

      <div class="field remember-me">
        <div class="label">
        </div>
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>

      <div class="actions">
        <%= f.button("Log In", {
                       onClick: '$("#login form").submit()',
                       type: :submit,
                       class: [:btn, :submit]
                     }) %>
      </div>
    <% end %>

  </div>
</div>
