<% content_for :title do %>
  Pledge Recap
<% end %>

<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td style="color: #153643; font-family: Arial, sans-serif; font-size: 22px;">
      Thanks for Your Support!
    </td>
  </tr>
  <tr>
    <td style="padding: 20px 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
      <p>Thanks so much for participating in the <%= @event.title %>, supporting our <%= @event.fundraiser.title %>. Your support is greatly valued and appreciated.</p>

      <p>Below is a list of the pledges you made at this event:</p>

      <table style="width: 95%; margin: 1em auto; text-align:center;">
        <tr style="font-size: 1.1em">
          <td>Time</td>
          <td>Team Supported</td>
          <td>Amount</td>
        </tr>
        <% @pledges.each do |pledge| %>
          <tr style="font-size: 0.8em">
            <td><%= humanize_time(pledge.created_at) %></td>
            <td><%= pledge.team.name %></td>
            <td>
              $<%= ('%.2f' % pledge.amount) %>
              <% if pledge.monthly %>
                <span style="color:red;">*</span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>

      <p style="font-size:0.8em;text-align:center;">
        <span style="color:red;">*</span> - Indicates monthly pledges
      </p>

      <p>
        This brings 
        <% if (@monthly_total > 0) && (@one_time_total > 0) %>
          your one-time total pledge amount to $<%= ('%.2f' % @one_time_total) %> and your monthly total pledge amount to $<%= ('%.2f' % @monthly_total) %>
        <% elsif (@monthly_total > 0) %>
          your monthly total pledge amount to $<%= ('%.2f' % @monthly_total) %>
        <% else %>
          your one-time total pledge amount to $<%= ('%.2f' % @one_time_total) %>
        <% end %>
        . Please visit <a href="<%= @event.organization.donation_url %>">our donation page</a> to complete this donation and fulfill your pledge.</p>

      <p>Thanks again for joining us and supporting this great cause.</p>

      <p>- Your Friends at TeamRaising.org</p>
    </td>
  </tr>
</table>
