<% content_for :title do %>
  Pledge Recap
<% end %>

<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td style="color: #153643; font-family: Arial, sans-serif; font-size: 22px;">
      Thanks for Your Support!
    </td>
  </tr>
  <tr>
    <td style="padding: 20px 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
      <p>Thanks so much for participating in the <%= @event.title %>, supporting our <%= @event.fundraiser.title %>. Your support is greatly valued and appreciated.</p>

      <p>Below is a list of the pledges you made at this event:</p>

      <table style="width: 95%; margin: 1em auto; text-align:center;">
        <tr style="font-size: 1.1em">
          <td>Time</td>
          <td>Team Supported</td>
          <td>Amount</td>
        </tr>
        <% @pledges.each do |pledge| %>
          <tr style="font-size: 0.8em">
            <td><%= humanize_time(pledge.created_at) %></td>
            <td><%= pledge.team.name %></td>
            <td>$<%= ('%.2f' % pledge.amount) %></td>
          </tr>
        <% end %>
      </table>

      <p>This brings your total pledge amount to $<%= ('%.2f' % @pledges.sum('amount')) %>. Please visit <a href="http://www.google.com/">our donation page</a> to complete this donation and fulfill your pledge.</p>

      <p>Thanks again for joining us and supporting this great cause.</p>

      <p>- Your Friends at TeamRaising.org</p>
    </td>
  </tr>
</table>
