<div class="org-form">
  <%= form_for(@org) do |f| %>

    <%= render(partial: "shared/form_field", 
               locals: { 
                 form: f, 
                 model: @org, 
                 attr: :name
               }) %>
    <% content_for 'description_field' do %>
      <%= f.text_area :description %>
    <% end %>
    <%= render(partial: "shared/form_field", 
               locals: { 
                 form: f, 
                 model: @org, 
                 attr: :description
               }) %>
    <!-- TODO: Add client side validation. -->
    <%= render(partial: "shared/form_field", 
               locals: { 
                 form: f, 
                 model: @org, 
                 field_label: :unique_key, 
                 attr: :url_key, 
                 info: 'Used in URLs (e.g. https://teamraising.org/<div class="variable">unique-key</div>/).' 
               }) %>
    <%= render(partial: "shared/form_field", 
               locals: { 
                 form: f, 
                 model: @org, 
                 attr: :homepage_url
               }) %>
    <%= render(partial: "shared/form_field", 
               locals: { 
                 form: f, 
                 model: @org, 
                 attr: :donation_url
               }) %>

    <div class="actions">
      <%= f.submit "Create Organization", class: :submit %>
    </div>
  <% end %>
</div>
