<div class="item">
  <div class="icon">
    <%= link_to org do %>
      <%= image_tag 'org/defaultIcon.png' %>
    <% end %>
  </div>
  <div class="name">
    <%= link_to org do %>
      <%= org.name %>
    <% end %>
  </div>
  <div class="description"><%= org.description %></div>
</div>
