<h1>Listing organizations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Homepage url</th>
      <th>Donation url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orgs.each do |organization| %>
      <tr>
        <td><%= organization.name %></td>
        <td><%= organization.description %></td>
        <td><%= organization.homepage_url %></td>
        <td><%= organization.donation_url %></td>
        <td><%= link_to 'Show', organization %></td>
        <td><%= link_to 'Edit', edit_organization_path(organization) %></td>
        <td><%= link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Organization', new_organization_path %>
