<div id="org-show">

  <div class="header">
    <div class="icon">
      <%= link_to show_org_path(@org.url_key) do %>
        <%= image_tag 'org/defaultIcon.png' %>
      <% end %>
    </div>
    <div class="name">
      <%= @org.name %>
    </div>
  </div>

  <div class="controls">
    <% if @org.members.include?(current_user) %>
      <div class="members">
        <%= link_to new_organization_fundraiser_path(@org) do %>
          <div class="action btn new-fundraiser">Start New Fundraiser</div>
        <% end %>
        <%= link_to edit_organization_path(@org) do %>
          <div class="action btn edit-org">Update Organization</div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="details">
    <div class="attribute homepage">
      <div class="label">On the web:</div>
      <%= link_to 'Click Here', @org.homepage_url %>
    </div>
    <div class="attribute description">
      <div class="label">Description:</div>
      <%= @org.description %>
    </div>
  </div>

  <% if !@org.fundraisers.present.empty? %>
    <div class="fundraisers current">
      <div class="title">Active Fundraisers (<%= @org.fundraisers.present.count %>)</div>
      <div class="list">
        <% @org.fundraisers.present.each do |f| %>
          <%= render partial: 'fundraisers/list_item', locals: { fundraiser: f } %>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if !@org.fundraisers.future.empty? %>
    <div class="fundraisers future">
      <div class="title">Upcoming Fundraisers (<%= @org.fundraisers.future.count %>)</div>
      <div class="list">
        <% @org.fundraisers.future.each do |f| %>
          <%= render partial: 'fundraisers/list_item', locals: { fundraiser: f } %>
        <% end %>
      </div>
    </div>
  <% end %>
  
  <% if !@org.fundraisers.past.empty? %>
    <div class="fundraisers past">
      <div class="title">Completed Fundraisers (<%= @org.fundraisers.past.count %>)</div>
      <div class="list">
        <% @org.fundraisers.past.each do |f| %>
          <%= render partial: 'fundraisers/list_item', locals: { fundraiser: f } %>
        <% end %>
      </div>
    </div>
  <% end %>

</div>
