<div id="org-show" class="std-show">

  <div class="header">
    <div class="icon">
      <% if !@org.logo_url.blank? %>
        <%= link_to show_org_path(@org.url_key) do %>
          <%= image_tag @org.logo_url, alt: 'Organization Logo' %>
        <% end %>
      <% end %>
    </div>
    <div class="text">
      <div class="title">
        <%= @org.name %>
      </div>
    </div>
  </div>

  <div class="controls">
    <% if @org.members.include?(current_user) %>
      <div class="members">
        <%= link_to new_organization_fundraiser_path(@org) do %>
          <div class="action btn new-fundraiser">Start New Fundraiser</div>
        <% end %>
        <%= link_to edit_organization_path(@org) do %>
          <div class="action btn edit-org">Update Organization</div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="details">
    <div class="attribute homepage">
      <div class="label">On the web:</div>
      <%= link_to 'Click Here', @org.homepage_url %>
    </div>
    <div class="attribute description">
      <div class="label">Description:</div>
      <%= @org.description %>
    </div>
  </div>

  <% no_fundraisers = true %>
  <% if !@org.fundraisers.present.empty? %>
    <% no_fundraisers = false %>
    <div class="association fundraisers present">
      <div class="title">Active Fundraisers (<%= @org.fundraisers.present.count %>)</div>
      <div class="list">
        <% @org.fundraisers.present.each do |f| %>
          <%= render partial: 'fundraisers/list_item', locals: { fundraiser: f } %>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if !@org.fundraisers.future.empty? %>
    <% no_fundraisers = false %>
    <div class="association fundraisers future">
      <div class="title">Upcoming Fundraisers (<%= @org.fundraisers.future.count %>)</div>
      <div class="list">
        <% @org.fundraisers.future.each do |f| %>
          <%= render partial: 'fundraisers/list_item', locals: { fundraiser: f } %>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if !@org.fundraisers.past.empty? %>
    <% no_fundraisers = false %>
    <div class="association fundraisers past">
      <div class="title">Completed Fundraisers (<%= @org.fundraisers.past.count %>)</div>
      <div class="list">
        <% @org.fundraisers.past.each do |f| %>
          <%= render partial: 'fundraisers/list_item', locals: { fundraiser: f } %>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if no_fundraisers %>
    <div class="association fundraisers">
      <div class="title">Fundraisers</div>
      <div class="notice">No fundraisers started yet!</div>
    </div>
  <% end %>

</div>
