<div id="org-show">

  <div class="title">
    <div class="icon">
      <%= link_to @org do %>
        <%= image_tag 'org/defaultIcon.png' %>
      <% end %>
    </div>
    <div class="name">
      <%= @org.name %>
    </div>
  </div>

  <div class="member-controls">
    <%= link_to new_fundraiser_path do %>
      <div class="action btn new-fundraiser">Start New Fundraiser</div>
    <% end %>
    <%= link_to edit_organization_path(@org) do %>
      <div class="action btn edit-org">Update Organization</div>
    <% end %>
  </div>

  <div class="details">
    <div class="attribute homepage">
      <div class="label">On the web:</div>
      <%= link_to 'Click Here', @org.homepage_url %>
    </div>
    <div class="attribute description">
      <div class="label">Description:</div>
      <%= @org.description %>
    </div>
  </div>

  <div class="fundraisers current">
    <div class="title">Current Fundraisers</div>
    <div class="list">
      <% @org.fundraisers.each do |f| %>
        <%= render partial: 'fundraisers/list_item', locals: { fundraiser: f } %>
      <% end %>
    </div>
  </div>
  
  <div class="fundraisers past">
    <div class="title">Past Fundraisers</div>
    <div class="list">
      <% @org.fundraisers.each do |f| %>
        <%= render partial: 'fundraisers/list_item', locals: { fundraiser: f } %>
      <% end %>
    </div>
  </div>

</div>
