<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>TeamRaising.org - Account Confirmation</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
 <table align="center" border="0" cellpadding="0" cellspacing="0"
        width="600" style="border: 1px solid #cccccc; border-collapse: collapse; font-family: Arial, sans-serif;">
   <tr>
     <td align="center" bgcolor="#EEEEEE" style="padding: 40px 0 30px 0;">
       <table border="0" cellpadding="0" cellspacing="0" width="100%">
         <tr>
           <td width="225px" style="padding: 0 20px 0 20px;">
             <%= link_to root_url do %>
               <%= image_tag 'logo-small.png', size: '225x38', alt: 'TeamRaising.org' %>
             <% end %>
           </td>
           <td align="right" style="padding: 0 20px 0 20px; color: #153643; font-family: Arial, sans-serif; font-size: 20px;">
             Account Locked
           </td>
         </tr>
       </table>
     </td>
   </tr>
   <tr>
     <td bgcolor="#FFFFFF" style="padding: 40px 30px 40px 30px;">
       <table border="0" cellpadding="0" cellspacing="0" width="100%">
         <tr>
           <td style="color: #153643; font-family: Arial, sans-serif; font-size: 22px;">
             Hello <%= @resource.first_name %>!
           </td>
         </tr>
         <tr>
           <td style="padding: 20px 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
             <p>
               Your account has been locked due to an excessive number of unsuccessful sign in attempts. We strongly recommend that you change the password for your account as a safety precaution.
             </p>
             <p>
               Click the link below to unlock your account:
             </p>
             <p>
               <%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %>
             </p>
           </td>
         </tr>
       </table>
     </td>
   </tr>
   <tr>
     <td bgcolor="#A0CAFF" style="padding: 30px 30px 30px 30px;">
       <table border="0" cellpadding="0" cellspacing="0" width="100%">
         <tr>
           <td width="75%" style="color: #555555; font-family: Arial, sans-serif; font-size: 14px;">
             &reg; TeamRaising.org, <%= DateTime.now.year %><br/>
           </td>
           <td align="right">
             <!-- TODO: Add Facebook and Twitter links. -->
           </td>
         </tr>
       </table>
     </td>
   </tr>
 </table>
</body>
</html>
