<div class="nav-items">
  <% if current_user %>

    <%= link_to organizations_path do %>
      <div class="nav-item">My Organizations</div>
    <% end %>
    <%= link_to events_path do %>
      <div class="nav-item">Find an Event</div>
    <% end %>
    <%= link_to edit_user_registration_url(current_user.id, protocol: secure_protocol) do %>
      <div class="nav-item">Account Info</div>
    <% end %>
    <%= link_to destroy_session_path(:user), method: :delete do %>
      <div class="nav-item">Log Out</div>
    <% end %>

  <% else %>

    <%= link_to new_session_url(:user, protocol: secure_protocol) do %>
      <div class="nav-item">Log In</div>
    <% end %>

    <%= link_to new_registration_url(:user, protocol: secure_protocol, redirect: request.fullpath) do %>
      <div class="nav-item">Sign Up</div>
    <% end %>

  <% end %>
</div>
