<!DOCTYPE html>
<html>
  <head>
    <title>TeamRaising.org - A platform for team-based fundraising.</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>

    <meta name="description" content="A team-based fundraising platform that generates more interest and excitement for fundraisers by providing a realtime dashboard of pledge activity.">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= yield(:head) %>
  </head>
  <body>

    <div id="page-container">
      <% if content_for?('header') %>
        <%= yield('header') %>
      <% end %>

      <%= yield('page_content') %>

      <div id="footer">
        <div class="centerer">
          <div class="copyright">Copyright &copy; 2014 - 2015, TeamRaising.org | All rights reserved.</div>
          <div class="links">
            <%= link_to 'Privacy Policy', privacy_url %> | <a href="http://www.strowd.com">strowd.com</a>
          </div>
        </div>
      </div>
    </div>

    <script>
      $(function() {
        var toggleableSizeFields = $('.toggle-size');
        setupSizeToggling(toggleableSizeFields);

        checkForSizeToggling(toggleableSizeFields);
        window.onresize = function(event) {
          checkForSizeToggling(toggleableSizeFields);
        };
      });
    </script>
  </body>
</html>
