<div class="login">
  <div class="align-helper">
    <%= form_tag session_url(:user, protocol: secure_protocol) do |f| %>
      <div class="field">
        <div class="label">
          <%= label_tag :email %>
        </div>
        <%= email_field_tag 'user[email]', '', autofocus: true %>
      </div>

      <div class="field">
        <div class="label">
          <%= label_tag :password %>
        </div>
        <%= password_field_tag 'user[password]', '', autocomplete: "off" %>
      </div>

      <div class="field">
        <%= check_box_tag 'user[remember_me]' %>
        <div class="label">
          <%= label_tag :remember_me %>
        </div>
      </div>

      <div class="actions">
        <%= button_tag "Submit", {
              onClick: '$(".login form").submit()',
              type: :button,
              class: [:btn, :submit]
            } %>
      </div>
    <% end %>
  </div>
</div>
