<!DOCTYPE html>
<html>
  <head>
    <script src="//cdn.optimizely.com/js/2313240121.js"></script>
    <script type="text/javascript" src="//cdn.abtasty.com/2457577bec94994c8a8ffc30648349e7.js"></script>
    <title>TeamRaising.org - A new concept for competitive, team-based fundraising.</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= yield(:head) %>
  </head>
  <body>

    <div id="page-container">
      <div id="header">

        <div class="centerer">
          <div class="vert-centerer"></div>
          <div class="main-logo">
            <div class="vert-centerer"></div>
            <%= image_tag 'logo-small.png' %>
          </div>


<!--
          <div class="menu profile-nav">
            <div class="menu-btn">
              <div class="vert-centerer"></div>
              <%= image_tag "profile.png" %>
            </div>
            <% if current_user %>
              <div class="profile-intro">
                <div class="vert-centerer"></div>
                <div class="welcome">
                  Welcome back, 
                  <div class="account-name"><%= link_to current_user.first_name, show_user_path(current_user.id) %></div>
                </div>
              </div>
            <% else %>
              <div class="login-btn">
                <div class="vert-centerer"></div>
                <div>
                  <%= link_to new_session_path(:user) do %>
                    <div class="btn">Log In</div>
                  <% end %>
                </div>
              </div>
            <% end %>
            <div class="menu-dropdown">
              <div class="vert-centerer"></div>
              <%= render "layouts/account_management" %>
            </div>
          </div>
-->

          <div class="menu primary-nav">
            <div class="menu-btn">
              <div class="vert-centerer"></div>
              <%= image_tag "menu.png" %>
            </div>
            <div class="menu-dropdown">
              <div class="vert-centerer"></div>
              <%= render "layouts/primary_navigation" %>
            </div>
          </div>

        </div>
        
        <!-- The login form should span the width of the page. -->
        <%= render "layouts/login_form" %>

      </div>
      <div id="header-stub"></div>

      <div id="page-content">
        <div id="notifications">
          <div class="notice">
            <% if notice %>
              <div class="centerer"><%= notice %></div>
            <% end %>
            <!-- Add JS to close the notification after a few seconds. -->
          </div>
          <div class="alert">
            <% if alert %>
              <div class="centerer"><%= alert %></div>
            <% end %>
          </div>
        </div>

        <%= yield %>
      </div>

      <div id="footer">
        <div class="centerer">
          <div class="copyright">Copyright © 2014 Harrison Strowd | All rights reserved.</div>
          <div class="links">
            <a href="http://www.hstrowd.com" class="first">hstrowd.com</a> | 
            <a href="http://www.strowd.com">strowd.com</a> | 
            <a href="http://www.sarrison.com">sarrison.com</a>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
