<% content_for 'header' do %>
  <div id="header">

    <div class="centerer">
      <div class="vert-centerer"></div>
      <div class="main-logo">
        <div class="vert-centerer"></div>
        <%= image_tag 'logo-small.png' %>
      </div>

      <div class="menu primary-nav">
        <div class="menu-btn">
          <div class="vert-centerer"></div>
          <%= image_tag "menu.png" %>
        </div>
        <!-- An empty div ensures the dropdown menu always appears below its respective button. -->
        <div></div>
        <div class="menu-dropdown">
          <div class="vert-centerer"></div>
          <%= render "layouts/primary_navigation" %>
        </div>
      </div>

    </div>

    <!-- The login form should span the width of the page. -->
    <%= render "layouts/login_form" %>

  </div>
  <div id="header-stub"></div>
<% end %>


<% content_for 'page_content' do %>
  <div id="page-content">
    <div id="notifications">
      <div class="notice">
        <% if notice %>
          <div class="centerer"><%= notice %></div>
        <% end %>
        <!-- Add JS to close the notification after a few seconds. -->
      </div>
      <div class="alert">
        <% if alert %>
          <div class="centerer"><%= alert %></div>
        <% end %>
      </div>
    </div>

    <%= yield %>
  </div>
<% end %>


<%= render "layouts/base_structure" %>
