<% content_for 'header' do %>
  <div id="header">

    <div class="centerer">
      <div class="vert-centerer"></div>
      <div class="main-logo">
        <div class="vert-centerer"></div>
        <%= image_tag 'logo-small.png' %>
      </div>


      <div class="menu profile-nav">
        <div class="menu-btn">
          <div class="vert-centerer"></div>
          <%= image_tag "profile.png" %>
        </div>
        <% if current_user %>
          <div class="profile-intro">
            <div class="vert-centerer"></div>
            <div class="welcome">
              Welcome back,
              <div class="account-name"><%= current_user.first_name %></div>
            </div>
          </div>
        <% else %>
          <div class="profile-splitter">
            <div class="vert-centerer"></div>
            <div class="acct-btn login-btn">
              <%= link_to new_session_path(:user) do %>
                <div class="btn">Log In</div>
              <% end %>
            </div>
          </div>
          <div class="profile-splitter">
            <div class="vert-centerer"></div>
            <div class="acct-btn signup-btn">
              <%= link_to new_registration_path(:user, protocol: secure_protocol, redirect: request.fullpath) do %>
                <div class="btn">Sign Up</div>
              <% end %>
            </div>
          </div>
        <% end %>
        <!-- An empty div ensures the dropdown menu always appears below its respective button. -->
        <div></div>
        <div class="menu-dropdown">
          <div class="vert-centerer"></div>
          <%= render "layouts/account_management" %>
        </div>
      </div>

      <div class="menu primary-nav">
        <div class="menu-btn">
          <div class="vert-centerer"></div>
          <%= image_tag "menu.png" %>
        </div>
        <!-- An empty div ensures the dropdown menu always appears below its respective button. -->
        <div></div>
        <div class="menu-dropdown">
          <div class="vert-centerer"></div>
          <%= render "layouts/primary_navigation" %>
        </div>
      </div>

    </div>

    <!-- The login form should span the width of the page. -->
    <%= render "layouts/login_form" %>

  </div>
  <div id="header-stub"></div>
<% end %>


<% content_for 'page_content' do %>
  <div id="page-content">
    <div id="notifications">
      <div class="notice">
        <% if notice %>
          <div class="centerer"><%= notice %></div>
        <% end %>
        <!-- Add JS to close the notification after a few seconds. -->
      </div>
      <div class="alert">
        <% if alert %>
          <div class="centerer"><%= alert %></div>
        <% end %>
      </div>
    </div>

    <%= yield %>
  </div>
<% end %>


<%= render "layouts/base_structure" %>
